font-face {
	font-family:Segoe UI;
    src: url("./fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    src:url("./fonts/SegoeUI.otf") format("opentype"), /* Open Type Font */
        url("./fonts/SegoeUI.svg") format("svg"), /* Legacy iOS */
	    url("./fonts/SegoeUI.ttf") format("truetype"), /* Safari, Android, iOS */
	    url("./fonts/SegoeUI.woff") format("woff"), /* Modern Browsers */
	    url("./fonts/SegoeUI.woff2") format("woff2"); /* Modern Browsers */
}
font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff'),
        url('MyriadPro-Regular.ttf') format('truetype'),
        url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}