html,body{
	width: 100%;
	height: 100%;
}
body{
	padding: 2%;
}
.title{
	font-family:'MyriadPro-Regular';
	font-size: 18px;
	margin-left:45%;
}

header {
	width: 100%;
	height: 100%;
	padding: 0.3%;
	background: #006837;
}
.box{
	background: #56836F;
	width: 100%;
	height: 100%;
	padding: 0.2%;
}
.logo{
	float: right;
	margin-right: 56px;
	margin-top: 49px;
	height: 151px;
}
.navbar-li {
	display: inline-block;
	vertical-align:top;
	margin-top: 3%;
	padding-left: 8%
}
a {
	font-family:'MyriadPro-Regular';
	font-size: 40px;
	color: white;

}
.article1{
	float: left;
    width: 600px;
    height: 321px;
    margin-top: 152px;
    margin-left: 35px;
    background: #FCEE21;
}

.first-img {
	float: right;
    margin-top: 18px;
    margin-right: 32px;
    margin-left: 10px;
    display: block;
}
.text {
	font-family:Segoe UI;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 10px;
	display: block;
}
.second-img {
	float: left;
    margin-top: 18px;
    margin-left: 32px;
    margin-right: 10px;
    display: block;
}
.text1{
	color: #006837;
	font-family:Segoe UI;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 10px;
}
 .article2{
    float: right;
    width: 600px;
    height: 321px;
    margin-right: 35px;
    background: #FCEE21;
    margin-top: 30px;
}