html,body{
	width: 100%;
	height: 100%;
}
body {
	padding: 1% 2.5% 2.5% 2.5%
}
.title{
	font-family:'MyriadPro-Regular';
	font-size: 18px;
	text-align: center;
}
.background{
	height: 100%;
	width: 100%;
	background-color: #56836F;
	border: 4px solid #006837;
}
.logo{
	float: right;
    margin-right: 5%;
    margin-top: 3%;  
    height: 19.3%;
}
nav {
	margin-left: 15%;
	float: right;
}
header:after{
	content: "";
	clear: right;
	display: block;
}
.navbar-li {
	display: inline-block;
	margin-top: 6%;
}
.navbar-li:after {
	content: "";
	display:inline-block;
	width: 45px;
}
a {
	font-family:'MyriadPro-Regular';
	font-size: 40px;
	color: white;
}
.articles-container{
	max-width: 1160px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.article-items1 {
	float: left;
    width: 617px;
    margin-top: 3%;
    background: #FCEE21;
}
.first-img {
	float: right;
    margin-top: 2.3%;
    margin-right: 2.3%;
    margin-left: 2%;
}
.text {
	font-family: Segoe UI;
    font-size: 14px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.second-img {
	float: left;
    margin-top: 2.3%;
    margin-right: 2%;
    margin-left: 2.3%;
}
.text1{
	color: #006837;
	font-family:Segoe UI;
	font-size: 14px;
	margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
 .article-items2{
 	float: right;
    width: 520px;
    margin-top: 3%;
    background: #FCEE21;
}